.accordion.navbar {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #0033ff;
    border-style: solid;
    border-width: 0px;
    border-radius: 17px;
    margin: 0 auto;
    height: 600px;
    width: 430px;
}

.accordion.navbar > ul > li,
.navbar .accordion-title,
.navbar .accordion-content,
.navbar .accordion-separator {
    float: none;
}

.accordion.navbar > ul > li {
    background-color: #ffffff;
    margin-right: -0px;
    margin-bottom: -300px;
}

.navbar .accordion-select:checked ~ .accordion-separator {
    margin-right: 0px;
    margin-bottom: 300px;
}

.navbar .accordion-title,
.navbar .accordion-select  {
    background-color: #3068cc;
    color: #ffffff;
    width: 430px;
    height: 100px;
    font-size: 34px;
}

.navbar .accordion-title span {
    margin-bottom: 20px; 
    margin-left: 50px;
}

.navbar .accordion-select:hover ~ .accordion-title,
.navbar .accordion-select:checked ~ .accordion-title {
    background-color: #00c1ff;
}

.navbar .accordion-title span  {	
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0px;
    line-height: 100px;
}

.navbar .accordion-content {
    background-color: #66b1e4;
    color: #ffffff;
    height: 260px;
    width: 390px;
    padding: 20px;
}

.navbar .accordion-title,
.navbar .accordion-select:checked ~ .accordion-content {
    margin-right: 0px;
    margin-bottom: 0px;
}

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}