html,body {
	width:100%;
	height: 100%;
}

* {
	margin: 0px;
	padding: 0px;
}

.Nav_Bar {
	font-family: Arial;
	line-height: 1.5;
	margin: 50px auto;
	width: 300px;
	position: relative;
	top:100px;
	-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

body {
	background: #e5e5e5;
}

.menu-item {
	left:20px;
	width:200px;
	padding-bottom: 100px;
}


.menu-item h4 {
	color:white;
	font-size: 15px;
	font-weight: 500;
	padding:7px 12px;
	background:#33ccff;
	text-align: center;
	text-decoration: none;
	/* gradient */

	background: #33ccff; /* Old browsers */
	background: -moz-linear-gradient(top, #33ccff 0%, #66d9ff 44%, #b3ecff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33ccff), color-stop(44%,#66d9ff), color-stop(100%,#b3ecff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #33ccff 0%,#66d9ff 44%,#b3ecff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #33ccff 0%,#66d9ff 44%,#b3ecff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #33ccff 0%,#66d9ff 44%,#b3ecff 100%); /* IE10+ */
	background: linear-gradient(top, #33ccff 0%,#66d9ff 44%,#b3ecff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ccff', endColorstr='#b3ecff',GradientType=0 ); /* IE6-9 */
}

.menu-item h4:hover {

	background: #4dd2ff; /* Old browsers */
	background: -moz-linear-gradient(top, #4dd2ff 0%, #80dfff 44%, #ccf2ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4dd2ff), color-stop(44%,#80dfff), color-stop(100%,#b3ecff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4dd2ff 0%,#80dfff 44%,#ccf2ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4dd2ff 0%,#80dfff 44%,#ccf2ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4dd2ff 0%,#80dfff 44%,#ccf2ff 100%); /* IE10+ */
	background: linear-gradient(top, #4dd2ff 0%,#80dfff 44%,#ccf2ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dd2ff', endColorstr='#ccf2ff',GradientType=0 );

}

.menu-item h4 a {
	color:white;
	display:block;
	text-decoration: none;
	width: 200px;
}
.menu-item ul {
	font-size:13px;
	list-style-type: none;
	line-height: 30px;
	height: 0px;
	overflow: hidden;
	padding:0px;

	 /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;

}

.menu-item li {
	border-bottom: 1px solid #eee;
	background:#4dd2ff;
	padding:0px;
	text-align: center;
	left:200px;

}

.menu-item li a {
	text-decoration: none;
	color:white;
	text-align: center;
}

.menu-item:hover li {
	background: #4dd2ff;
}

.menu-item:hover ul {
	height: 100px;

}

.sendGW {

	color:#FF;
	font-size: 15px;
	font-weight: 500;
	padding:7px 12px;
	/*background:#33ccff;*/
	/* gradient */
	position:absolute;
	right:40px;
	bottom:100px;
	/*text-decoration: none;
	color:white;
	display:block;
	background: #33ccff; /* Old browsers */
	/*background: -moz-linear-gradient(top, #33ccff 0%, #66d9ff 44%, #b3ecff 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33ccff), color-stop(44%,#66d9ff), color-stop(100%,#b3ecff)); /* Chrome,Safari4+ */*/
	/*background: -webkit-linear-gradient(top, #33ccff 0%,#66d9ff 44%,#b3ecff 100%); /* Chrome10+,Safari5.1+ */*/
	/*background: -o-linear-gradient(top, #33ccff 0%,#66d9ff 44%,#b3ecff 100%); /* Opera 11.10+ */*/
	/*background: -ms-linear-gradient(top, #33ccff 0%,#66d9ff 44%,#b3ecff 100%); /* IE10+ */*/
	/*background: linear-gradient(top, #33ccff 0%,#66d9ff 44%,#b3ecff 100%); /* W3C */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ccff', endColorstr='#b3ecff',GradientType=0 ); /* IE6-9 */*/*/
}*/

/*.sendGW:hover {

/*	background: #4dd2ff; /* Old browsers */
	/*background: -moz-linear-gradient(top, #4dd2ff 0%, #80dfff 44%, #ccf2ff 100%); /* FF3.6+ */*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4dd2ff), color-stop(44%,#80dfff), color-stop(100%,#b3ecff)); /* Chrome,Safari4+ */*/
	/*background: -webkit-linear-gradient(top, #4dd2ff 0%,#80dfff 44%,#ccf2ff 100%);  Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #4dd2ff 0%,#80dfff 44%,#ccf2ff 100%); /* Opera 11.10+ */*/
	/*background: -ms-linear-gradient(top, #4dd2ff 0%,#80dfff 44%,#ccf2ff 100%); /* IE10+ */*/
	/*background: linear-gradient(top, #4dd2ff 0%,#80dfff 44%,#ccf2ff 100%); /* W3C */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dd2ff', endColorstr='#ccf2ff',GradientType=0 );*/
}
/*
.sendGW a {
	text-decoration: none;
	color:white;
}*/


/*00b3ec*/